.Navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 3.5rem;
  border-right: 1px solid lightgray;
  height: 100vh;
  padding: 0.2rem;
  position: relative;
}

.Navigation i {
  cursor: pointer;
  color: var(--tertiary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
  transition: all ease 0.5s;
}

.Navigation i:hover {
  background-color: lightgrey;
  color: var(--secondary-color);
}

.settings {
  position: absolute;
  bottom: 5rem;
}

.rule {
  height: 1px;
  width: 100%;
  background: lightgrey;
}
