.Popular {
  margin-top: 1rem;
  background-color: var(--primary-color);
  height: 100%;
  padding: 1rem;
}

.popular-details {
  display: flex;
  margin-top: 1rem;
}
.company-info {
  margin-left: 1rem;
}

.company-info p {
  font-size: 12px;
  color: var(--grey);
  margin-top: 0.1rem;
}

.p-avatar {
  width: 25px;
  height: 25px;
}
